<nav id="navjs">
    <div class="navhaut">
        <div class="livraison">
            <a href="index.php" style="color: blue;"><i class="fa-solid fa-truck"></i></a>
            <span>Livraison possible</span>
        </div>

        <ul>
            <li><a href="#apropos">A Propos</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a class="phone" href="#"><i class="fa-solid fa-phone mx-1"></i> 07 53 54 22 92</a></li>
        </ul>
    </div>
    <div class="navmilieu">
        <a class="logo" href="index.php"><img src="{{chemin_images}}img_logos/logodamko.jpg" alt="logo"><span class="nomSociete">DAMKOMAT</span></a>

        <form class="d-flex" id="barreSearch" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <ul class="navMilieuUl">            
            <li><a class="showPanier" href="#"><i class="fa-solid fa-cart-shopping"></i><span class="circle" aria-hidden="true">100</span></a></li>
        </ul>

    </div>

    <nav id="myNavbar" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path("app_login")}}">
                                <i class="fa fa-sign-in-alt"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path("app_register")}}">
                                <i class="fa fa-user-plus"></i>
                            </a>
                        </li> 
                    
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path("app_logout")}}">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path("app_login")}}">
                                <i class="fa-solid fa-circle-user"></i> {{ app.user.username }}
                            </a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catégories</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{path("app_admin_categorie_index")}}">
                                            Liste
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{path("app_admin_categorie_new")}}">
                                            Ajouter
                                        </a>
                                    </li>
                                </ul>
                            </li>  
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dimensions</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{path("app_admin_dimensions_index")}}">
                                            Liste
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{path("app_admin_dimensions_new")}}">
                                            Ajouter
                                        </a>
                                    </li>
                                </ul>
                            </li>   
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Epaisseurs</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{path("app_admin_epaisseurs_index")}}">
                                            Liste
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{path("app_admin_epaisseurs_new")}}">
                                            Ajouter
                                        </a>
                                    </li>
                                </ul>
                            </li>  
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Produits</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{path("app_admin_products_index")}}">
                                            Liste
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{path("app_admin_products_new")}}">
                                            Ajouter
                                        </a>
                                    </li>
                                </ul>
                            </li> 
                        {% endif %}
                    {% endif %}                   
                </ul>
                <form class="d-flex" action="">
                    <input class="form-control me-2" type="search" name="recherche" placeholder="Recherche..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    {{include("_common/_panier.html.twig")}}
</nav>