{% extends 'base.html.twig' %}

{% block title %}epaisseur{% endblock %}
{% block header %}{% endblock %}

{% block body %}
    <h3 class="text-center">epaisseur {{epaisseur.valeurepaisseur}}</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ epaisseur.id }}</td>
            </tr>
            <tr>
                <th>epaisseur</th>
                <td>{{ epaisseur.valeurEpaisseur }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pb-4 d-flex justify-content-between">
        <a class="btn btn-secondary" href="{{ path('app_admin_epaisseurs_index') }}">Retour</a>

        <a class="btn btn-info" href="{{ path('app_admin_epaisseurs_edit', {'id': epaisseur.id}) }}"><i class="fa fa-edit"></i></a>

        {{ include('_common/_delete_form.html.twig') }}
    </div>
{% endblock %}
